In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('pokemon_data.csv')

In [3]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
data.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
# Read Headers
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
# read each column 
data[['Name','Type 1','HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [7]:
# read each row
data.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [8]:
# read a specific location
data.iloc[2,1]

'Venusaur'

In [11]:
data.loc[data['Type 1']=='Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [12]:
# describing data
data.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
# Sorting
# data.sort_values('Attack',ascending=True)
data.sort_values(['Type 1','Name'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

### Making Changes to the data

In [36]:
data['Total']=data.iloc[:,4:10].sum(axis=1)
data

C:\Users\RushikeshSuryagandh\AppData\Local\Temp\ipykernel_11396\3228443931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Total']=data.iloc[:,4:10].sum(axis=1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Total,Total,Total,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,318,318,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,405,405,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,525,525,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,625,625,625,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,309,309,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,600,600,600,6
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,700,700,700,6
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,600,600,600,6
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,680,680,680,6
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,600,600,600,6

In [38]:
cols=list(data.columns)
data=data[cols[0:10]+[cols[-1]]
          +cols[10:12]]
data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total,Total,Total,Total,Total,Total,Total,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,318,318,318,318,318,318,318,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,405,405,405,405,405,405,405,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,525,525,525,525,525,525,525,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,625,625,625,625,625,625,625,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,309,309,309,309,309,309,309,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,600,600,600,600,600,600,600,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,700,700,700,700,700,700,700,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,600,600,600,600,600,600,600,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,680,680,680,680,680,680,680,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,600,600,600,600,600,600,600,600

In [39]:
# Dropping columns by index positions
columns_to_drop = [12,13,14,15,16,17,18 ]
new_data = data.drop(data.columns[columns_to_drop], axis=1)

print("\nDataset after dropping columns by index positions:")
display(new_data)

Dataset after dropping columns by index positions:

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6

In [48]:
new_data['Total']=new_data.iloc[:,4:10].sum(axis=1)
new_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,600

In [49]:
cols=list(data.columns)
new_data=new_data[cols[0:10]+[cols[-1]]
          +cols[10:11]]

In [66]:
new_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6

In [67]:
# save the updated csv
new_data.to_csv('modified.csv',index=False)